In [2]:
import numpy as np
import pandas as pd

## Setting

The dataset we work with for the second homework contains the information of  a video game. 


<img src="https://http2.mlstatic.com/poster-pokemon-full-hd-42x29cm-frete-gratis-D_NQ_NP_752705-MLB25053489227_092016-F.jpg" alt="Italian Trulli" width="500" height="300">

Pokémon is a very popular video game, in which the trainer catches pokemon and use them for battling. A pokémon has the following properties:

* Each Pokémon has a name and pokedex. A Pokémon belongs to at least 1 and at most 2 Pokémon types. If a Pokemon has Type 2=NaN (`np.nan`), this pokemon belongs to only 1 type.
* There are different stats to measure the combat power of a Pokémon, which include HP, Attack, Defense, Special Attack Strength, Special Defensive Strength, and Speed. 
* Pokémon are usually released in batches. Thus, they belong to different generations.
* A Pokémon can either be a regular Pokémon and legendary Pokémon. 



|Variable| Description|
|---|---|
|PokeDex |PokeDex index number|
| Name | Name of the Pokemon  |  
| Type 1 | Type of pokemon  |  
| Type 2 | Other Type of Pokemon  |  
| HP |  Hit Points  |  
| Attack |  Attack Strength  |  
| Defense |  Defensive Strength  |  
| Sp_Atk |  Special Attack Strength  |  
| Sp_Def |  Special Defensive Strength  |  
| Speed | Speed  |  
| Generation | Number of generation  |  
| Legendary |  True if Legendary Pokemon False if not |

In [3]:
pokemon=pd.read_csv("pokemon.csv")
pokemon

,PokeDex,Name,Type_1,Type_2,HP,Attack,Defense,Sp_Atk,Sp_Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
4,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
716,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
717,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
718,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
719,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
720,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

## Q1. [5 Points]
Create a table named `pokemon_legend24`. This table should have the four columns that include the following information for all the **legendary** Pokémon belonging to **the second generation** or **the fourth generation**.

* Name
* Type_1
* Type_2
* Generation

Do not change row labels.

In [4]:
generation = pokemon["Generation"].values
legendary = pokemon["Legendary"].values
Filter = ((generation == 2) | (generation == 4)) * (legendary == True)
pokemon_legend24 = pokemon.loc[Filter, ["Name", "Type_1", "Type_2", "Generation"]]
pokemon_legend24

                      Name    Type_1  Type_2  Generation
242                 Raikou  Electric     NaN           2
243                  Entei      Fire     NaN           2
244                Suicune     Water     NaN           2
248                  Lugia   Psychic  Flying           2
249                  Ho-oh      Fire  Flying           2
479                   Uxie   Psychic     NaN           4
480                Mesprit   Psychic     NaN           4
481                  Azelf   Psychic     NaN           4
482                 Dialga     Steel  Dragon           4
483                 Palkia     Water  Dragon           4
484                Heatran      Fire   Steel           4
485              Regigigas    Normal     NaN           4
486  GiratinaAltered Forme     Ghost  Dragon           4
490                Darkrai      Dark     NaN           4
491      ShayminLand Forme     Grass     NaN           4
492                 Arceus    Normal     NaN           4

## Q2. [6 Points]
With help of melting (unpivoting), create a table `pokemon_legend24_long`. This table should include four columns presenting the following information for Pokémon included in table `pokemon_legend24`.

|ColumnName|Description|
|---|---|
|Name|name of a Pokémon|
|Generation|2 or 4 depending on which generation the Pokémon belongs to|
|Type12|"Type_1" or "Type_2"|
|TypeValue|type 1 value or type 2 value of the Pokémon| 


For your melting function, set `id_vars=["Name","Generation"]` to use the combination of `Name` and `Generation` as the ID. 

For this table, the order of rows should follow:
* Show the second generation first  
* For the second generation Pokémon, sort them based names following the decsending order 
* For each pokemon, present Type_1 information first and then Type_2 information

In your final table, you can use any values for row labels.

In [5]:
pokemon_legend24_long = pd.melt(pokemon_legend24, id_vars=["Name", "Generation"], var_name="Type12", value_name="TypeValue")
generation = pokemon_legend24_long["Generation"].values
Filter1 = (generation == 2)
Filter2 = (generation == 4)
gen2 = pokemon_legend24_long.loc[Filter1, ["Name", "Generation", "Type12", "TypeValue"]]
gen2.sort_values(["Name","Type12"], ascending=[False,True], inplace=True)
gen4 = pokemon_legend24_long.loc[Filter2, ["Name", "Generation", "Type12", "TypeValue"]]
gen4.sort_values("Type12", inplace=True)
pokemon_legend24_long = pd.concat([gen2,gen4])
pokemon_legend24_long

                     Name  Generation  Type12 TypeValue
2                 Suicune           2  Type_1     Water
18                Suicune           2  Type_2       NaN
0                  Raikou           2  Type_1  Electric
16                 Raikou           2  Type_2       NaN
3                   Lugia           2  Type_1   Psychic
19                  Lugia           2  Type_2    Flying
4                   Ho-oh           2  Type_1      Fire
20                  Ho-oh           2  Type_2    Flying
1                   Entei           2  Type_1      Fire
17                  Entei           2  Type_2       NaN
5                    Uxie           4  Type_1   Psychic
14      ShayminLand Forme           4  Type_1     Grass
13                Darkrai           4  Type_1      Dark
12  GiratinaAltered Forme           4  Type_1     Ghost
11              Regigigas           4  Type_1    Normal
15                 Arceus           4  Type_1    Normal
9                  Palkia           4  Type_1     Water
8                  Dialga           4  Type_1     Steel
7                   Azelf           4  Type_1   Psychic
6                 Mesprit           4  Type_1   Psychic
10                Heatran           4  Type_1      Fire
30      ShayminLand Forme           4  Type_2       NaN
21                   Uxie           4  Type_2       NaN
22                Mesprit           4  Type_2       NaN
23                  Azelf           4  Type_2       NaN
24                 Dialga           4  Type_2    Dragon
25                 Palkia           4  Type_2    Dragon
26                Heatran           4  Type_2     Steel
27              Regigigas           4  Type_2       NaN
28  GiratinaAltered Forme           4  Type_2    Dragon
29                Darkrai           4  Type_2       NaN
31                 Arceus           4  Type_2       NaN

## **For the following questions, we will use `pokemon` table.**

## Q3. [5 Points]

* Add one additional column `Total` to table `pokemon`. The value of `Total` for a  Pokémon is equal to the sum of all the stats numbers for the Pokémon (HP+Attack+Defense+Sp_Atk+Sp_Def+ Speed)
* Exclude the stats columns that are used to compute "Total" from "pokemon" table.

In [6]:
pokemon_with_total = pokemon.assign(Total = lambda y: y.HP + y.Attack + y.Defense + y.Sp_Atk + y.Sp_Def + y.Speed)
pokemon_minus_stats = pokemon_with_total.drop(columns = ["HP", "Attack", "Defense", "Sp_Atk", "Sp_Def", "Speed"])
pokemon_minus_stats

,PokeDex,Name,Type_1,Type_2,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,1,False,318
1,2,Ivysaur,Grass,Poison,1,False,405
2,3,Venusaur,Grass,Poison,1,False,525
3,4,Charmander,Fire,NaN,1,False,309
4,5,Charmeleon,Fire,NaN,1,False,405
...,...,...,...,...,...,...,...
716,717,Yveltal,Dark,Flying,6,True,680
717,718,Zygarde50% Forme,Dragon,Ground,6,True,600
718,719,Diancie,Rock,Fairy,6,True,600
719,720,HoopaHoopa Confined,Psychic,Ghost,6,True,600
720,721,Volcanion,Fire,Water,6,True,600

## Q4. [8 Points]

Create a `DataFrame` that lists the following information of the **top 10 Grass type**  Pokémon ranked by their total combat power

|ColumnName|Description|
|---|---|
|Name|Name of the Pokémon|
|Total|The Pokémon's total combat power |
 
Make row labels equal $1, 2, 3,\dots , 10$

[hint: you might find `pd.concat` helpful]

In [7]:
#pd.concat???
type1 = pokemon["Type_1"].values
type2 = pokemon["Type_2"].values
Filter = (type1 == "Grass") | (type2 == "Grass")
grass_pokemon = pokemon_minus_stats.loc[Filter, ["Name","Total"]]
grass_pokemon.sort_values(["Total"], ascending=False, inplace=True)
top10_grass = grass_pokemon.iloc[0:10,:]
row_labels = [1,2,3,4,5,6,7,8,9,10]
top10_grass.set_index([row_labels], drop=True, inplace=True)
top10_grass

                 Name  Total
1   ShayminLand Forme    600
2              Celebi    600
3            Virizion    580
4           Tangrowth    535
5              Gogoat    531
6          Chesnaught    530
7            Sceptile    530
8           Serperior    528
9            Meganium    525
10           Venusaur    525

## Q5. [8 Points]

Which of the following names in the NamePossible arrays are the name of a pokemon?

Based on Merge, provide your answer using an array that contains only the names that are pokemon names.

In [8]:
NamePossible=["Charmander","Piggy","Snorlax","Chansey","Hamsta", "Growleth","Groudon","Shawty"]
NamePossible_df = pd.DataFrame({"Name": NamePossible})
Table = pd.merge(NamePossible_df,pokemon,left_on="Name",right_on="Name")
names = Table["Name"].values
print(names)

['Charmander' 'Snorlax' 'Chansey' 'Groudon']

## Q6. [5 Points]

Pandas series has a method `isin()` that gives whether each element in the DataFrame is contained in values.

Study the method [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) and perform Q5 task using `isin()` instead.

In [9]:
NamePossible =["Charmander","Piggy","Snorlax","Chansey","Hamsta", "Growleth","Groudon","Shawty"]
NamePossible_df = pd.DataFrame({"Name": NamePossible})
NamePossible_array = np.array(NamePossible)
Bool = NamePossible_df.isin(pokemon["Name"].values)
print(NamePossible_array[Bool["Name"].values])

['Charmander' 'Snorlax' 'Chansey' 'Groudon']

## Q7. [8 Points]

For all  Pokémon included in table `pokemon`, how many Pokémon belong to each type? If a Pokémon belongs to two types, it will be counted towards both the number of Pokémon belonging to the first type and also the number of Pokémon belonging to the second type. For example, Bulbasaur has "Type 1" equals "Grass" and "Type 2" equals "Poison". Thus, Bulbasaur is both a Grass type Pokémon and a Poison type Pokémon.

Answer this question by presenting a table with two columns. 

|ColumnName|Description|
|---|---|
|Type|Type name of Pokémon|
|Counts|Number of Pokémon belonging to this type|

In [10]:
#how many pokemon for each Type1
pokemon_type1 = pokemon[["Name","Type_1"]]
pokemon_type1 = pokemon_type1.groupby(by="Type_1").count()
pokemon_type1.reset_index(inplace=True)
pokemon_type1.rename(columns = {"Type_1":"Type", "Name":"Count1"}, inplace=True)

#how many pokemon for each Type2
pokemon_type2 = pokemon[["Name","Type_2"]]
pokemon_type2 = pokemon_type2.groupby(by="Type_2").count()
pokemon_type2.reset_index(inplace=True)
pokemon_type2.rename(columns = {"Type_2":"Type", "Name":"Count2"}, inplace=True)

#merge tables together and sum count1 and count2 to get Counts
pokemon_types = pd.merge(pokemon_type1, pokemon_type2, on="Type")
pokemon_types = pokemon_types.assign(Counts= lambda y: y.Count1 + y.Count2)
pokemon_types = pokemon_types.drop(columns = ["Count1","Count2"])
pokemon_types

        Type  Counts
0        Bug      66
1       Dark      44
2     Dragon      38
3   Electric      42
4      Fairy      35
5   Fighting      44
6       Fire      56
7     Flying      90
8      Ghost      35
9      Grass      84
10    Ground      60
11       Ice      33
12    Normal      97
13    Poison      59
14   Psychic      74
15      Rock      55
16     Steel      41
17     Water     118

## Q8. [10 Points]

For all the  Pokémon in `pokemon` table with total combat power between 200 (including 200) and 400 (including 400), generate a table to display the maximum and the mininum total combat power of the Pokémon belonging to "Grass", "Poison", "Water", "Normal" type.

In this table, you should have 3 columns

|Column|Description|
|---|---|
|Type|Type name|
|Min|Minimum of total combat power of all Pokémon belonging to the type|
|Max|Maximum of total combat power of all Pokémon belonging to the type|

In [28]:
#Filtered out the pokemon w/ combat power btw 200 and 400 inclusive
combat_power = pokemon_minus_stats["Total"].values
Filter = (combat_power >= 200) * (combat_power <= 400)
pokemon1 = pokemon_minus_stats.loc[Filter, ["Type_1","Type_2","Total"]]

#group pokemon by type1 and find min and max for each type and rename
pokemon_type1 = pokemon1[["Type_1","Total"]]

pokemon_type1_max = pokemon_type1.groupby(by="Type_1").max()
pokemon_type1_min = pokemon_type1.groupby(by="Type_1").min()

pokemon_type1_max.reset_index(inplace=True)
pokemon_type1_min.reset_index(inplace=True)

pokemon_type1_max.rename(columns = {"Type_1":"Type", "Total":"Max"}, inplace=True)
pokemon_type1_min.rename(columns = {"Type_1":"Type", "Total":"Min"}, inplace=True)

#group pokemon by type2 and find min and max for each type and rename
pokemon_type2 = pokemon1[["Type_2","Total"]]

pokemon_type2_max = pokemon_type2.groupby(by="Type_2").max()
pokemon_type2_min = pokemon_type2.groupby(by="Type_2").min()

pokemon_type2_max.reset_index(inplace=True)
pokemon_type2_min.reset_index(inplace=True)

pokemon_type2_max.rename(columns = {"Type_2":"Type", "Total":"Max"}, inplace=True)
pokemon_type2_min.rename(columns = {"Type_2":"Type", "Total":"Min"}, inplace=True)

#combine type1 and type 2 table max and min
pokemon_max = pd.concat([pokemon_type1_max, pokemon_type2_max])
pokemon_max = pokemon_max.groupby(by="Type").max()
pokemon_max.reset_index(inplace=True)

pokemon_min = pd.concat([pokemon_type1_min, pokemon_type2_min])
pokemon_min = pokemon_min.groupby(by="Type").min()
pokemon_min.reset_index(inplace=True)

#combine max and min and filter out specific types
pokemon_max_and_min = pd.merge(pokemon_max, pokemon_min, on="Type")
types = pokemon_max_and_min["Type"].values
Filter = (types == "Grass") | (types == "Poison") | (types ==  "Water") | (types == "Normal")
pokemon_max_and_min.loc[Filter,["Type","Max","Min"]]

      Type  Max  Min
9    Grass  400  220
12  Normal  395  210
13  Poison  400  205
17   Water  400  200

## Q9. [5 Points]

What is the average total compact power of legendary and nonlegendary pokémon for each generation? Present the information using the following format:

||Legendary_avg|NonLegendary_avg|
|---|---|---|
|**Geneneration**||||
|**6**|?|?|
|**5**|?|?|
|**4**|?|?|
|**3**|?|?|
|**2**|?|?|
|**1**|?|?|

In this table, `Generation` should be row labels.

Each cell should give the average combact power of all legendary or nonlegendary pokemon belong to each generation.

In [11]:
#filter out legendary and nonlegendary
legendary = pokemon_minus_stats["Legendary"].values
filter_legendary = (legendary == True)
filter_nonlegendary = (legendary == False)

#find average of legendary & nonlegendary 
legend = pokemon_minus_stats.loc[filter_legendary, ["Generation", "Total"]]
legend = legend.groupby(by="Generation").mean()

nonlegend = pokemon_minus_stats.loc[filter_nonlegendary, ["Generation", "Total"]]
nonlegend = nonlegend.groupby(by="Generation").mean()

#combine legendary and nonlegendary; rename and sort columns
avg_total_compact_power = pd.merge(legend, nonlegend, left_on="Generation", right_on="Generation")
avg_total_compact_power.rename(columns={"Total_x":"Legendary_avg", "Total_y":"NonLegendary_avg"}, inplace=True)
avg_total_compact_power.sort_values("Generation", ascending=False, inplace=True)
avg_total_compact_power

            Legendary_avg  NonLegendary_avg
Generation
6              626.666667        411.666667
5              612.000000        412.520548
4              633.636364        424.229167
3              616.000000        384.944000
2              620.000000        394.926316
1              605.000000        401.693878