In [2]:
import pandas as pd

## Setting 


<img src="https://www.belleslink.com/wp-content/uploads/2016/12/you-need-more-phone-numbers.png" alt="Italian Trulli" width="500" height="300">

North American Numbering plan follows the Modern plan and may be summarized in the notation NPA-NXX-XXXX:

* NPA is the numbering plan area code
* NXX is the central office code
* XXXX is the line number


For example, 
4123219492 
* 412 is the numbering plan area code
* 321 is the central office code 
* 9492 is the line number

Sometimes, people also put the country code in fron NANP. For example
+1 416 534 9292, means
* 416 is the numbering plan area code
* 534 is the central office code 
* 9292 is the line number

In the following dataset, we give a dataset that a sequence of numbers mimicking the US phone number.

In [4]:
phone=pd.read_csv("phoneno.csv")
phone

             Phone
0     415-525-1298
1     650-532-2347
2    (416)524-3456
3     202 777 4567
4       4031555678
5   1 416 222 9292
6     423.234.2325
7    +1 2324332321
8  +1 412 324-4932
9   1.232.128.1215

## Q1. [8 Points]

* Use one line of regular expression to extract three columns: 
> * 3 digit area code
> * 3 digit Central office code
> * 4 digit Line number
* Combine these three columns to a Pandas Series with each element being a 10 digit string.

In [5]:
nums = phone["Phone"].str.extract(r".*?(\d{3}).*?(\d{3}).*?(\d{4})")
nums

     0    1     2
0  415  525  1298
1  650  532  2347
2  416  524  3456
3  202  777  4567
4  403  155  5678
5  416  222  9292
6  423  234  2325
7  232  433  2321
8  412  324  4932
9  232  128  1215

In [6]:
pnums = pd.Series(nums.iloc[:,0] + nums.iloc[:,1] + nums.iloc[:,2])
pnums

0    4155251298
1    6505322347
2    4165243456
3    2027774567
4    4031555678
5    4162229292
6    4232342325
7    2324332321
8    4123244932
9    2321281215
dtype: object

In [7]:
#if you have trouble with Q1, you can use this series for the follow-up questions.
Pnumbers=pd.Series(["4155251298",
"6505322347",
"4165243456",
"2027774567",
"4031555678",
"4162229292",
"4232342325",
"2324332321",
"4123244932",
"2321281215"])
Pnumbers

0    4155251298
1    6505322347
2    4165243456
3    2027774567
4    4031555678
5    4162229292
6    4232342325
7    2324332321
8    4123244932
9    2321281215
dtype: object

## Q2. [5 Points]

Based on the regular expression, extract the digit if a digit is repeated 3 times for the central office code of a phone number. If a number does not have a match,report NaN. 

For example, if a number has 3914440292, we should extract 4. If a number is 4210490302 we can simply return NaN for this value.

In [8]:
Pnumbers.str.extract(r"\d{3}(\d)\1\1\d{4}")

     0
0  NaN
1  NaN
2  NaN
3    7
4  NaN
5    2
6  NaN
7  NaN
8  NaN
9  NaN

## Q3. [5 Points]

Extract the first two digits and the last two digits of a phone number if this phone number starts with 4 and ends with 8. If a number does not have a match,report NaN.

Report the result using a dataframe with two columns.

In [9]:
Pnumbers.str.extract(r"(^4\d)\d{6}(\d8$)")

     0    1
0   41   98
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4   40   78
5  NaN  NaN
6  NaN  NaN
7  NaN  NaN
8  NaN  NaN
9  NaN  NaN

## Q4. [5 Points]

Extract the first match of 32XX for a phone number if 32XX is NOT immediately followed by a digit between 5 and 9. If a number does not have a match,report NaN.

Report the result using Pandas Series or a DataFrame with one column

In [28]:
Pnumbers.str.extract(r"(32\d{2})[0123459]")

      0
0   NaN
1  3223
2   NaN
3   NaN
4   NaN
5   NaN
6  3234
7  3243
8   NaN
9   NaN

## Q5.  [5 Points]

Extract the first match of 32XX if there is at least a 1 anywhere after 32. If a number does not have a match,report NaN.

Report the result using Pandas Series or a DataFrame with one column

In [27]:
Pnumbers.str.extract(r"(32\d{2})(?=.*1)")

      0
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7  3243
8   NaN
9  3212

## Q6. [5 Points]

Extract the first match of 32XX if XX is not 23 or 43. If a number does not have a match,report NaN.

Report the result using Pandas Series or a DataFrame with one column

In [26]:
Pnumbers.str.extract(r"(32\d{2})(?<!3223|3243)")

      0
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6  3234
7  3232
8  3244
9  3212