In [1]:
import pandas as pd
#pd.set_option("max_rows",None)
#pd.set_option('display.max_colwidth', None)
import numpy as np

## Setting 

The following table gives the 3 digits area code of North American phone numbers. 
Let's use ABC to represent these 3 digits.

A can only be between 2-9

B and C can be between 0 and 9

The following table gives the following information of the area code of North American phone numbers.

|Variable|Explanation|
|---|---|
|Code|3 digit area code|
|Code_1d|first digit of the area code|
|ASSIGNABLE|whether the area code can be assigned
|RESERVED|whether the area code has been reserved|
|ASSIGNED|whether the area has been assigned|
|Location|If this area os assigned, which area it is assigned to|

In [2]:
NPA=pd.read_csv("NPA2.csv")
NPA

     Code  Code_1d ASSIGNABLE RESERVED ASSIGNED         Location
0     200        2        Yes       No       No              NaN
1     201        2        Yes       No      Yes            NJ,US
2     202        2        Yes       No      Yes            DC,US
3     203        2        Yes       No      Yes            CT,US
4     204        2        Yes       No      Yes  MANITOBA,CANADA
..    ...      ...        ...      ...      ...              ...
795   995        9         No       No       No              NaN
796   996        9         No       No       No              NaN
797   997        9         No       No       No              NaN
798   998        9         No       No       No              NaN
799   999        9         No       No       No              NaN

[800 rows x 6 columns]

## Q1 [8 Points]

Replace the `Location` column with two columns. The first column gives the state information. The second column gives the country information.

In [3]:
location = NPA["Location"]
location = location.str.extract(r"(\D+),(\D+)")
state_NPA = NPA.drop(columns = "Location")
state_NPA = state_NPA.assign(State = location[0])
state_NPA = state_NPA.assign(Country = location[1])
state_NPA

     Code  Code_1d ASSIGNABLE RESERVED ASSIGNED     State Country
0     200        2        Yes       No       No       NaN     NaN
1     201        2        Yes       No      Yes        NJ      US
2     202        2        Yes       No      Yes        DC      US
3     203        2        Yes       No      Yes        CT      US
4     204        2        Yes       No      Yes  MANITOBA  CANADA
..    ...      ...        ...      ...      ...       ...     ...
795   995        9         No       No       No       NaN     NaN
796   996        9         No       No       No       NaN     NaN
797   997        9         No       No       No       NaN     NaN
798   998        9         No       No       No       NaN     NaN
799   999        9         No       No       No       NaN     NaN

[800 rows x 7 columns]

## Q2. [8 Points]
We are interested in getting the number of assigned Code for each state in the USA.

Construct the following table to provide the information.  

||**State**|**No_NPA_Assigned**|
|---|---|---|
|**0**|AK| number of codes assigned to AK|
|**1**|AL| number of codes assigned to AL|
|***|***|***|

In [4]:
code_per_state = state_NPA.groupby(by="State").count()
code_per_state.reset_index(inplace=True)
code_per_state = code_per_state[["State", "ASSIGNED"]]
code_per_state.columns = ["State", "No_NPA_Assigned"]
code_per_state

                       State  No_NPA_Assigned
0                         AK                1
1                         AL                6
2                    ALBERTA                5
3                   ANGUILLA                1
4            ANTIGUA/BARBUDA                1
..                       ...              ...
80                        WA                6
81                        WI                7
82                        WV                2
83                        WY                1
84  YUKON-NW TERR. - NUNAVUT                1

[85 rows x 2 columns]

## Q3. [5 Points]

Report the following summary statistics for the values in column "No_NPA_Assigned"

* Mean
* Variance 
* Median
* 10 percentile, 25 percentile, 75 percentile, 90 percentile

In [5]:
mean = code_per_state.mean()
var  = code_per_state.var()
median = code_per_state.median()
percentiles = code_per_state.quantile([0.10, 0.25, 0.75,0.90])

stats = pd.DataFrame({"Mean" : mean.values, "Variance" : var.values, "Median" : median.values, 
"10%" : percentiles.values[0], "25%" : percentiles.values[1], "75%" : percentiles.values[2], "90%" : percentiles.values[3]})
stats = stats.T
stats.columns = ["No_NPA_assigned"]
stats

          No_NPA_assigned
Mean             4.917647
Variance        37.362185
Median           2.000000
10%              1.000000
25%              1.000000
75%              6.000000
90%             11.800000

## Q4 [6 Points]

In statistics, the value(s) that appears most frequently is called mode. For example, suppose we have 5 values: 0, 3, 5, 5, 4, 0. The mode values are is 0 and 5.

We can get the mode of values stored in a Pandas series using 

[`s.mode()` ](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.mode.html)

The data type of the return value of `s.mode()` is Pandas series.

Use `groupby` and  `apply` method to get the mode of the first digit value for each US state. If a state has  several mode values, report one mode value.

In [6]:
s=pd.Series([0,3,5,5,4,0])
s.mode()

0    0
1    5
dtype: int64

In [7]:
grouped_by_state = state_NPA.groupby(by=["State"])
mode = grouped_by_state["Code_1d"].apply(pd.Series.mode)
df_mode = pd.DataFrame(mode)
df_mode.reset_index(inplace=True)
level = df_mode["level_1"].values
Filter = (level == 0) 
df_mode = df_mode.loc[Filter, ["State", "Code_1d"]]
df_mode.columns = ["State", "Code_1d_Mode"]
df_mode

                        State  Code_1d_Mode
0                          AK             9
1                          AL             2
2                     ALBERTA             3
7                    ANGUILLA             2
8             ANTIGUA/BARBUDA             2
..                        ...           ...
123                        WA             2
125                        WI             2
126                        WV             3
128                        WY             3
129  YUKON-NW TERR. - NUNAVUT             8

[85 rows x 2 columns]